<app-todo-navbar></app-todo-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h3>ADD tODO portal </h3>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">User :</label>
                    <input name="userId" [(ngModel)]="userId" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Id:</label>
                    <input name="id" [(ngModel)]="id" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">title</label>
                    <input name="title" [(ngModel)]="title" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">completed status</label>
                    <input name="completed" [(ngModel)]="completed" type="text" class="form-control">
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a (click)="todoadd()" class="btn btn-warning">Add book</a>
                </div>
            </div>
        </div>
    </div>
  </div>
